*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ecf0f1;
    font-family: 'Nunito', sans-serif;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "h h h ."
        ". q q ."
        ". p p f"
        ". t t f";
}

.user-container{
    grid-area: h;
    font-size: 25px;
    background-color: #393E41;
    padding: 1vmax;
    border-bottom-right-radius:10px;
}
.user-info {
    color: #ecf0f1;
    display: inline-block;
    vertical-align: middle;
}
#profile-pic{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: 100%;
    vertical-align: middle;

}
.quote-container{
    grid-area: q;
    font-size: 1.5vmax;
    text-align: left;
    color: #2c3e50;
    padding: 1vmax;
    font-family: 'Indie Flower', cursive;
}

.quote-container>p{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
}

.friends-container{
    grid-area: f;
    background-color: #393E41;
    font-size: 1.5vmax;
    color: #ecf0f1;
    border-top-left-radius: 4px;
    box-shadow: -1px -1px 3px black;
    padding-left: 1vmax;
}

ul{
    list-style-type: none;
}

#gen-page{
    width: 200px;
    height: 50px;
    border-radius: 6px;
    background-color: #27ae60;
    color: #ecf0f1;   
    position: fixed;
    bottom: 1vw;
    left: 1vw;
    font-size: 1vmax;
    cursor: pointer;
}

#gen-page:focus{
    outline:none;
}

#pokemon-image {
    width: 150px;
    height: 150px;
    display: inline-block;
    background-size: 100%;
    justify-self: center;
}
#pokemon-text {
    vertical-align: middle;

    align-items: center;
    display: inline-block;
}
.pokemon-container {
    font-size: 20px;
    grid-area: p;
}

.meat-container{
    grid-area: t;
}